<h2>{{ 'Carrinho' }}</h2>
<div class="bloco">
  <table>
    <tr>
      <th>Lanche</th>
      <th>Nome</th>
      <th>Quantidade</th>
      <th>Preço Unitário</th>
      <th>Total</th>
      <th>Deseja excluir?</th>
    </tr>

    <tr *ngFor="let item of itens">
      <td><img [src]="item.prato.url" [alt]="item.prato.name"></td>
      <td>{{ item.prato.name }}</td>
      <td>
        <button (click)="alterarQuantidade(item, -1)">-</button>
        {{ item.quantidade }}
        <button (click)="alterarQuantidade(item, 1)">+</button>
      </td>
      <td>{{ item.prato.price | currency:'BRL' }}</td>
      <td>{{ item.quantidade * item.prato.price | currency:'BRL' }}</td>
      <td><button class="delete" (click)="deleteItem(item.idItem)">Excluir</button></td>
    </tr>

  </table>

  <div class="total">
    <p><strong>Total: {{ total | currency:'BRL' }}</strong></p>
  </div>
  <h2>{{ 'Forma de Pagamento' }}</h2>
  <a href="pix"><button class="save" (click)="saveCarrinho()">PIX</button></a>
  <a href="/credito"><button class="save" (click)="saveCarrinho()">Cartão de credito</button></a>
</div>
