
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" href="home.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/scrollreveal"></script>
<style>
  .espaco {
      height: 250px;
  }
</style>

<body>
  <main id="content">
    <section id="home">
      <div id="cta">
        <h1 class="title">
          O sabor que vai <br> até
          <span>você</span>
        </h1>

        <p class="description">
          Porque sair de casa, se poder ter seu pedido em suas mãos em pouco tempo.
        </p>

      </div>
      <div class="shape"></div>
      <div id="banner">
        <img src="https://preview.redd.it/qosdgacp8c1e1.png?auto=webp&s=f5c8d2b11bd7720726c1ce30575cdd7569524782" alt="imagem do prato">
      </div>
    </section>

    <div class="espaco"></div>
    <section id="testimonials">
      <img src="https://preview.redd.it/6bxwniu86c1e1.png?auto=webp&s=b040298ea39a46c8f25d87f77e8b8dba7b30e9be" id="testimonial_chef" alt="imagem do chef">
      <div id="testimonials_content">
        <h2 class="section-title">Avaliações</h2>
        <h3 class="section-subtitle">O que os clientes falam sobre nós</h3>
        <div id="feedbacks">
          <div class="feedback">
            <div class="photo"><img src="https://styles.redditmedia.com/t5_cdzpl9/styles/profileIcon_nknxkmzgs4pd1.jpg?width=128&height=128&frame=1&auto=webp&crop=128:128,smart&s=9b749e3dea399190c73fa30c70ad9b6a2f546e7b" class="feedback-avatar" alt=""></div>

            <div class="feedback-content">
              <p>
                Nathan
                <span>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </span>
              </p>
              <p>"Uma experiência gastronômica de excelência. Sabores refinados, ambiente sofisticado e atendimento impecável. Um verdadeiro prazer para os sentidos"</p>
            </div>
          </div>
          <div class="feedback">
            <div class="photo"><img src="https://styles.redditmedia.com/t5_2d0dpg/styles/profileIcon_3ujczmyh3bwd1.png?width=64&height=64&frame=1&auto=webp&crop=64:64,smart&s=b84436ea567ca287465d85435ac4736fd6443c62" class="feedback-avatar" alt=""></div>
            <div class="feedback-content">
              <p>
                João
                <span>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </span>
              </p>
              <p>"O pedido veio exatamente como solicitei, e o tempo de entrega dentro do prazo adorei"</p>
            </div>
          </div>
          <div class="feedback">
            <div class="photo"><img src="https://images.squarespace-cdn.com/content/v1/54fc8146e4b02a22841f4df7/adae5b77-380f-4c37-ae1a-97323e66ed55/Art_of_1.jpg" alt=""></div>

            <div class="feedback-content">
              <p>
                Bruno
                <span>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </span>
              </p>
              <p>"Comida top e vibe irada! Tudo perfeito, desde o atendimento até o sabor. Já quero voltar"</p>
            </div>
          </div>
          <div class="feedback">
            <div class="photo"><img src="https://preview.redd.it/3zarui74bc1e1.png?width=527&format=png&auto=webp&s=0de8b0e3319c023d546b0a3ed152c7f9ea9a98a6" alt=""></div>

            <div class="feedback-content">
              <p>
                Ryan
                <span>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </span>
              </p>
              <p>"Simplesmente sensacional! Comida no ponto e galera super de boa. Recomendo demais"</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <img src="wave.svg" alt="">
    <div id="footer_itens">
      <div class="social-media-buttons">
        <a href="">
          <i class="fa-brands fa-whatsapp"></i>
        </a>
        <a href="">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="">
          <i class="fa-brands fa-facebook"></i>
        </a>
        <h4>
          <br>
          Trabalhe conosco: </h4>
        <a class="funcionario" href="/List-prato">Gerente</a>
        <a class="funcionario" href="/cozinha">Cozinha</a>
        <a class="funcionario" href="/entregador">Entregador</a>
      </div>
    </div>
  </footer>

</body>
